<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Bingo del Milenio 2019</title>
		<!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/fontello-embedded.css" />
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-app="BingoApp" ng-controller="MainController as main">
		<!--[if lt IE 7]>
			<p class="browsehappy">Estás usando un navegador <strong>muy viejo</strong>. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para que seas más feliz. </p>
		<![endif]-->

		<header class="header">
			<div class="navbar navbar-inverse" role="navigation">
				<div class="container">
					<header class="navbar-header">

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
							<span class="sr-only">Abrir o Cerrar Navegación</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="#/bingo">
							<img src="images/header-logo.png">
							<span class="sr-only">Bingo del Milenio 2019</span>
						</a>
					</header>

					<nav id="js-navbar-collapse" class="collapse navbar-collapse" data-toggle="collapse" data-target="#js-navbar-collapse.collapse.in" ng-controller="TopNavController as link">
						<ul class="nav navbar-nav navbar-right">
							<li ng-class="{ active: link.isActive('/bingo') }"><a href="#/bingo">Inicio</a></li>
							<li ng-class="{ active: link.isActive('/rules') }"><a href="#/rules">Reglas</a></li>
							<li ng-class="{ active: link.isActive('/about') }"><a href="#/about">¿Por Qué?</a></li>
							<li><a data-target="#modal-delete-data" data-toggle="modal">Borrar datos</a></li>
						</ul>
					</nav>

				</div>
			</div>
		</header>

		<main class="container">
			<div class="row" ng-if="!main.hideTermsAlert">
				<div class="col-xs-12">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar" ng-click="main.dismissTermsAlert()"><span aria-hidden="true">&times;</span></button>
						<strong>AVISO DE PRIVACIDAD:</strong> Al generar tus tarjeta de bingo se almacenan datos en tu navegador. Estos datos se limitan a la creación de tus tarjetas para el bingo, y no son compartidos ni utilizados fuera de la app. Puedes borrar estos datos cuando lo desees desde la barra de navegación. Al continuar utilizando la app estás aceptando estas condiciones.
					</div>
				</div>
			</div>

			<div ng-view></div>
		</main>

		<footer class="footer">
			<div class="container">
				<div class="col-xs-12">
					<p>2019 &copy; Hecho con mucho amor y ocio por <a href="https://twitter.com/CronGM">@crongm</a></p>
				</div
			</div>
		</footer>

		<div id="modal-delete-data" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar Datos en Mi Navegador</h4>
					</div>
					<div class="modal-body">
						<p>¿Desea eliminar los siguientes datos de su navegador?</p>
						<ul>
							<li>Tarjeta bingo Xbox</li>
							<li>Tarjeta bingo PlayStation</li>
							<li>Tarjeta bingo Nintendo</li>
							<li>Ocultar aviso de privacidad</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary btn-danger" ng-click="main.deleteAllData()" data-dismiss="modal">Eliminar datos</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		 <script>
			 !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
			 (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
			 r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			 }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			 ga('create', 'UA-79248653-1');
			 ga('send', 'pageview');
		</script>

		<!-- Vendor -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/angular-route.min.js"></script>
		<script src="js/vendor/angular-local-storage.min.js"></script>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Directives -->
		<script src="js/directives/card.js"></script>
		<script src="js/directives/card-cell.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/main.controller.js"></script>
		<script src="js/controllers/bingo.controller.js"></script>
		<script src="js/controllers/topnav.controller.js"></script>

		<!-- Services -->
		<script src="js/services/cards.service.js"></script>
</body>
</html>
