<h1>¿Por qué?</h1>
<p>Porque no tengo nada que hacer. Para divertirme con mis amigos. Y también como práctica de varias características de AngularJS y JavaScript en general.</p>
<h2>Qué le falta a esta app</h2>
<p>En orden de prioridad:</p>
<!-- TODO LIST -->
<ol>
    <li>Guardar casillas marcadas.</li>
    <li>Verificar líneas completas y estado de juego ganado.</li>
    <li>Animaciones.</li>
    <li>Compartir tabla en una imagen.</li>
    <li>Pretty URLs.</li>
    <li>Sticky footer.</li>
    <li>Registro, usuarios, datos en servidor.</li>
</ol>
