<h1>¿Por qué?</h1>
<p>Para divertirme con mis amigos. Y también como práctica de varias características de AngularJS y JavaScript en general.</p>
<h2>Qué le falta a esta app</h2>
<p>En orden de prioridad</p>
<ol>
    <li>Enlaces a las conferencias.</li>
    <li>Guardar casillas marcadas.</li>
    <li>Verificar líneas completas. Estado de juego ganado.</li>
    <li>Marcar cuando una conferencia ya ha terminado.</li>
    <li>Compartir tabla en una imagen.</li>
    <li>Pretty URLs.</li>
    <li>Sticky footer.</li>
    <li>Registro, usuarios, datos en servidor.</li>
</ol>