<div class="row">
	<div class="col-xs-12">
		<h1>This is Bingo Page</h1>
	</div>

	<div ng-if="vm.debug">
		<p>Conference: {{ vm.conference }}</p>
		<p>Card Code: {{ vm.cardCode }}</p>
		<p>Is Code Valid? {{ vm.isCodeValid }}</p>
		<button class="btn btn-default" ng-click="vm.generateCardCode()">GENERATE CARD</button>
	</div>

	<!-- TODO: Implement centered columns -->
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div id="card" class="{{ vm.conference }} clearfix">
			<header class="text-center">
				<img id="card-header-logo" ng-src="{{ vm.cardLogoUrl }}">
				<h1 class="sr-only">PlayStation</h1>
			</header>
			<div class="clearfix" ng-repeat="i in vm.getNumber(5) track by $index">
				<div class="col-xs-2 slot" ng-repeat="i in vm.getNumber(5) track by $index">
					<img ng-src="{{ vm.card[0].imageUrl }}" class="img-responsive">
					<p>{{ vm.card[0].message }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
