<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
		<img src="images/logo.jpg" class="img-responsive" alt="Bingo del Milenio 2019">
		<h1 class="sr-only">Bingo del Milenio 2019</h1>
	</div>
</div>

<div class="row">
	<div class="page-header col-xs-12">
		<p class="h2">Elige Tu Conferencia Para Participar</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/xbox/" class="bingo-link xbox">
			<img src="images/logo_xbox.png" class="img-responsive" alt="xbox">
		</a>
		<p class="h3 text-center schedule-text">
			{{ main.schedules.xbox.date }}
			<br/>
			{{ main.schedules.xbox.time }}
		</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/nintendo/" class="bingo-link nintendo disabled">
			<img src="images/logo_nintendo.png" class="img-responsive" alt="nintendo">
		</a>
		<p class="h3 text-center schedule-text">
				{{ main.schedules.nintendo.date }}
				<br/>
				{{ main.schedules.nintendo.time }}
			</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/playstation/" class="bingo-link playstation disabled">
			<img src="images/logo_playstation.png" class="img-responsive" alt="playstation">
		</a>
		<p class="h3 text-center schedule-text">
				{{ main.schedules.playstation.date }}
				<br/>
				{{ main.schedules.playstation.time }}
			</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>
					Bingo del Milenio 2019
			</h1>
		</div>
		<p>El próximo 9 de junio de 2019 comienzan las conferencias fuertes del E3. Nos referimos a las conferencias de Microsoft (Domingo 9 a las 03:00 PM, <strong>tiempo de México</strong>) y al Nintendo Direct del día siguiente martes 11 a las 11:00 AM). Sony se mantiene a raya porque... solo ellos saben.</p>

		<p>El Bingo del Milenio es una tradición que nació de dos podcasts horribles pero hechos con mucho amor, El Calientito y Disparas con B. Trato de mantener esa tradición viva aunque a veces me da mucha flojera. Elige la conferencia en la que quieres participar y tendrás tu propia tabla de bingo para participar. Sigue la conferencia en vivo y ve marcando los espacios que describan lo que sucede en tu pantalla. Si logras llenar antes que nadie una línea en cada conferencia serás el ganador de [citation needed]*.</p>

		<p>El veredicto oficial de lo que se cumplió (y lo que no) será discutido y anunciado... en Twitter. Quizás. De cualquier manera, tú diviértete.</p>
	</div>
</div>
