<div class="row" ng-if="!vm.hideTermsAlert">
	<div class="col-xs-12">
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar" ng-click="vm.dismissTermsAlert()"><span aria-hidden="true">&times;</span></button>
			<strong>AVISO:</strong> Al generar tu tarjeta de bingo se almacenan datos en tu navegador. Estos datos se limitan a la creación de tus tarjetas para el bingo, y no son compartidos ni utilizados fuera de la app. Al continuar utilizando la app estás aceptando estas condiciones.
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
		<img src="images/dcb2015.jpg" class="img-responsive" alt="Disparas con El Calientito">
		<h1 class="sr-only">Disparas con El Calientito: Bingo del Milenio 2015</h1>
	</div>
</div>

<div class="row">
	<div class="page-header col-xs-12">
		<p>{{vm.hideTermsAlert}}</p>
		<p class="h2">Elige Tu Conferencia Para Participar</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/xbox/{{ vm.xboxCardCode }}" class="bingo-link xbox">
			<img src="images/logo_xbox.png" class="img-responsive" alt="xbox">
		</a>
		<p class="h3 text-center schedule-text">Lunes 15 de Junio
			<br/>
			11:30 AM
		</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/playstation/{{ vm.playstationCardCode }}" class="bingo-link playstation">
			<img src="images/logo_playstation.png" class="img-responsive" alt="playstation">
		</a>
		<p class="h3 text-center schedule-text">Lunes 15 de Junio
			<br/>
			8:00 PM
		</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a ng-href="#/bingo/nintendo/{{ vm.nintendoCardCode }}" class="bingo-link nintendo">
			<img src="images/logo_nintendo.png" class="img-responsive" alt="nintendo">
		</a>
		<p class="h3 text-center schedule-text">Martes 16 de Junio
			<br/>
			11:00 AM
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>
				Disparas con El Calientito: Bingo del Milenio 2015
				<br />
				<small>Donde los ganadores recibirán un amiibo de Iwata*</small>
			</h1>
		</div>
		<p>El próximo 15 y 16 de junio son las conferencias fuertes del E3. Nos referimos a las conferencias de Microsoft (lunes 15 a las 11:30 AM, tiempo de México), Sony (lunes 15 a las 8:00 PM) y Nintendo (martes 16 a las 11:00 AM. El día primero de junio El Calientito nos invitó a participar en su programa especial previo al E3, y en conjunto hicimos una serie de predicciones sobre los anuncios y sucesos que veríamos en cada conferencia, con el objetivo de crear tablas de bingo como lo han hecho otros sitios de videojuegos de igual o menor prestigio que los nuestros.</p>

		<p>Una cosa llevó a la otra, y gracias a esa idea nació este generador de tarjetas de el Bingo del Milenio 2015. Elige la conferencia en la que quieres participar y tendrás tu propia tabla. Sigue la conferencia en vivo y ve marcando los espacios que describan lo que suceda. Si logras llenar antes que nadie una línea en cada conferencia serás el nuevo dueño de un amiibo edición especial de Iwata*.</p>

		<p>El veredicto oficial de lo que se cumplió (y lo que no) será discutido y anunciado en la próxima emisión de El Calientito Podcast y/o en el podcast de Disparas Con B y/o en una emisión especial de Disparas con El Calientito.</p>

		<p><small>*No es verdad. El único ganador será la diversión.</small></p>
	</div>
</div>