<div class="row">
	<div class="col-xs-12">
		<h1>Reglas Bingo del Milenio 2019</h1>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<p>Bienvenidos al Bingo del Milenio 2019</p>
		<p>Las reglas son muy sencillas:</p>
		<ol>
			<li>Escoge tu conferencia y se creará una tabla de bingo con predicciones para este E3.</li>
			<li>Sigue las conferencias del E3 en YouTube, Twitch, los canales oficiales de cada presentador, o por tu página de videojuegos favorita.</li>
			<li>Cada vez que suceda en el escenario algo de lo que se encuentra en tus casillas, marca la casilla correspondiente al suceso.</li>
			<li>Forma una línea con tus casillas marcadas y te ganarás un [citation needed] y la satisfacción de que un algoritmo muy chafa haya seleccionado las suficientes predicciones para hacerte ganar.</li>
		</ol>
		<p><strong>IMPORTANTE:</strong> Solo cuentan los eventos que sucedan en la conferencia. Leaks de días anteriores y cosas que se anuncien fuera de estas no son casillas válidas.</p>
		<p class="h2 text-center">¡SUERTE Y QUE GANE LA DIVERSIÓN!</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<img src="images/logo.jpg" class="img-responsive" alt="Bingo del Milenio 2019">
	</div>
</div>
