/*
Turquoise:		#1abc9c;	Emeralds
Green Sea:		#16a085;
Emerald:		#2ecc71;	Greens
Nephritis:		#27ae60;
Peter River:	#3498db;	Light Blues
Belize Hole:	#2980b9;
Amethyst:		#9b5986;	Purples
Wisteria:		#8e44ad;
Wet Asphalt:	#34495e;	Dark Grays
Midnight Blue:	#2c3e50;
Sun Flower:		#f1c40f;	Yellows
Orange:			#f39c12;
Carrot:			#e67e22;	Oranges
Pumpking:		#d35400;
Alizarin:		#e74c3c;	Reds
Pomegranate:	#c0392b;
Clouds:			#ecf0f1;	Light Grays
Silver:			#bdc3c7;
Concrete:		#95a5a6;	Grays
Asbestos:		#7f8c8d;
*/

body > .container {
	padding-bottom: 80px;
}

.navbar-brand {
	padding-bottom: 3px;
	padding-top: 3px;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.text-red {
	color: #c0392b;
}

#card {
	border: solid 1px black;
}

#card div[class^="col-"] {
	padding: 0;
	width: 20%;
}

#card header {
	color: white;
	margin: 0;
	padding: 0.5em;
	border: solid 1px black;
}

#card-header-logo {
	height: 30px;
}

.card-row {
	border: solid 1px yellow;
}

.slot {
	position: relative;
	border: solid 1px black;
}

.slot p {
	background: transparent;
	margin: 0;
	padding: 0.1em 0.3em;
	color: white;
	border-top: solid 2px black;
	text-align: center;
	font-size: 12px;
	line-height: 1em;
	min-height: 28px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #F5F5F5;
}

.xbox {
	background: #107C10;
}

.nintendo {
	background: #D01A19;
}

.playstation {
	background: #0661B2;
}

.bingo-link {
	display: block;
	text-align: center;
	padding: 30px 20px;
	height: 100px;
}

	.bingo-link img {
		margin: 0 auto;
		max-height: 40px;
	}

.schedule-text {
	margin: 0.1em 0 1em;
}

@media screen and (max-width: 480px) {
	.slot p {
		font-size: 10px;
		line-height: 1.2em;
		min-height: 25px;
	}
}