/*
Turquoise:		#1abc9c;	Emeralds
Green Sea:		#16a085;
Emerald:		#2ecc71;	Greens
Nephritis:		#27ae60;
Peter River:	#3498db;	Light Blues
Belize Hole:	#2980b9;
Amethyst:		#9b5986;	Purples
Wisteria:		#8e44ad;
Wet Asphalt:	#34495e;	Dark Grays
Midnight Blue:	#2c3e50;
Sun Flower:		#f1c40f;	Yellows
Orange:			#f39c12;
Carrot:			#e67e22;	Oranges
Pumpking:		#d35400;
Alizarin:		#e74c3c;	Reds
Pomegranate:	#c0392b;
Clouds:			#ecf0f1;	Light Grays
Silver:			#bdc3c7;
Concrete:		#95a5a6;	Grays
Asbestos:		#7f8c8d;
*/

body > .container {
	padding-bottom: 80px;
}

.navbar-brand {
	padding-bottom: 3px;
	padding-top: 3px;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.text-red {
	color: #c0392b;
}

#card {
	background: red;
	border: solid 1px black;
}

#card div[class^="col-"] {
	padding: 0;
	width: 20%;
}

.slot {
	position: relative;
	border: solid 1px black;
}

.slot p {
	position: absolute;
	left: 0;
	bottom: 0;
	background: red;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.1em 0.2em;
	color: white;
	border-top: solid 2px black;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #F5F5F5;
}