// TODO: change to individual files with @require

// Media queries
$mobile_only = 'screen and (max-width 639px)'

$xbox = #107C10
$nintendo = #D01A19
$playstation = #0661B2

body
    > .container
        padding-bottom 80px

main
    p
    ol
	    font-size 18px

.navbar
    border-radius 0

.navbar-brand
	padding-bottom 3px
	padding-top 3px

.navbar-brand
    img
        height 100%
        width auto

.text-red
	color #c0392b

#conference-title
#first-title
	margin-bottom 0

#conference-time
#second-title
	margin-top -5px

#card
    border 1px solid black

    div[class^="col-"]
        padding 0
        width 20%

    header
        color white
        margin 0
        padding 0.5em
        border solid 1px black

#card-header-logo
	height 30px

.card-row
	border solid 1px black

.slot
	position relative
	border-right solid 2px black

	&last-child
		border-right none

.slot
    p
        background transparent
        margin 0
        padding 0.1em 0.3em
        color white
        border-top solid 2px black
        text-align center
        font-size 12px
        line-height 1em
        min-height 28px

#share-area
	margin 1em 0 2em

#share-link
	cursor text
	background white

#create-card-area
	margin-top 3em

.footer
	background-color #222
	color #FFFFFF
	padding-top 1em

.xbox
    background $xbox
    .table-cell
        &.active
            &:after
                background $xbox

.nintendo
    background $nintendo
    .table-cell
        &.active
            &:after
                background $nintendo

.playstation
    background $playstation
    .table-cell
        &.active
            &:after
                background $playstation

.bingo-link
	display block
	text-align center
	padding 30px 20px
	height 100px

.bingo-link img
    margin 0 auto
    max-height 40px


.schedule-text
	margin 0.1em 0 1em

.grid
	display table
	width 100%

.table-row
	display table-row

.table-cell
    display table-cell
    border 1px solid black
    width 20%
    max-width 20%
    overflow hidden
    position relative
    text-overflow ellipsis
    
    img
        max-width 100%
        border-bottom 2px solid black

    div
        padding 0.5em 0.5em
        color white
        text-align center
        font-size 12px
        line-height 1em
        margin 0

    &.active
        &:before
            background white
            content ""
            display block
            opacity 0.75
            position absolute
            top 0
            left 0
            right 0
            bottom 0

        &:after
            border-radius 50%
            color white
            content "\e800"
            display block
            font-family fontello
            font-size 3em
            font-weight 700
            line-height 1.5
            text-align center
            transform translateX(-50%) translateY(-50%)
            width 1.5em
            position absolute
            top 50%
            left 50%
            
@media $mobile_only
    .slot
        min-height 94px;

    .slot p
        font-size 9px
        line-height 1.1em
        min-height 25px

    .table-cell
        div
            font-size 9px
            line-height 1.1em

        &.active
            &:after
                font-size 2.5em