<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
		<img src="images/got/logo_bot_black.png" class="img-responsive" alt="Bingo de Tronos">
		<h1 class="sr-only">Game of Thrones Bingo</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1 class="text-center">
				Game of Thrones: Temporada Final
				<br />
				<small>Winter has Come</small>
			</h1>
		</div>
		<p>Después de una espera de ocho años y dos libros que seguimos esperando, llega a su fin la aclamada serie de HBO que a todos nos gusta.</p>

		<p>Es por esta razón que reciclé una app muy chafa de bingo que tenía a la mano para reacondicionarla a tal suceso. Pasen a jugar el bingo de Game of Thrones en donde estaremos marcando a aquellos personajes que van a morir en cada minuto que pasa hacia el final del juego. ¡Solo uno (¿unos?) podrá ocupar el Trono de Hierro (o como sea que lo tradujeron)! El premio para el ganador del Bingo de Tronos también será ocupar un lugar en el Trono con Truenos y $1,000,000 de Dragones de Oro*</p>

		<p>Y bueno, el chiste es divertirse. Y si no se divierten pues que aguados. Y si encuentran referencias al bingo que no son de GoT disculpen mi flojera, pero lo hice de rápido.</p>

		<p><small>*No es verdad. El único ganador será la diversión.</small></p>
	</div>
</div>

<div class="row">
    <div class="page-header col-xs-12">
      <p class="h2 text-center">Jugar al Bingo de Tronos</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <a ng-href="#/bingo/got/" class="bingo-link got">
        <img src="images/logo_got.png" class="img-responsive" alt="Game of Thrones">
      </a>
      <p class="h3 text-center no-margin">Próximo Episodio:</p>
      <p class="h3 text-center no-margin">11:00 AM (MX)</p>
    </div>
  </div>
