<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<img src="images/got/logo_bot_black.png" class="img-responsive" alt="Bingo de Tronos">
	</div>
	<div class="col-xs-12">
		<h1 class="text-center">Reglas</h1>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<p>Bienvenidos al Bingo de Tronos. Las reglas son muy sencillas:</p>
		<ol>
			<li>Crea tu tabla.</li>
			<li>Ponte a ver Game of Thrones en HBO o en tus canales piratas de costumbre, maldito ladrón.</li>
			<li>Cada vez que muera alguien marca su casilla.</li>
			<li>Forma una línea con tus casillas marcadas a lo largo de la temporada y ganarás una cita con la Madre de Dragones... No es cierto. Ganarás nuestro el respeto de tus amigos* y la satisfacción de que eres un gran fan de George R. Martin y conoces cómo piensa. Eso, o solo tuviste mucha suerte.</li>
		</ol>
		<p><small class="text-smallest">* No es cierto</small></p>
		<p class="h2 text-center">¡SUERTE Y QUE LAS PROBABILIDADES ESTÉN SIEMPRE A TU FAVOR!</p>
	</div>
</div>
